.my-drop-zone { border: dotted 3px lightgray; }
.nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
.another-file-over-class { border: dotted 3px green; }

html, body { height: 100%; }

.image {
    opacity: 1;
    display: block;
    width: 50;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.imageUrl {
    opacity: 1;
    display: block;
    width: 200px;
    height: 200px;
    transition: .5s ease;
    backface-visibility: hidden;
}

.text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.textDanger {
    background-color: #FF0A0A;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.container-image {
    position: relative;
    width: 25;
    height: 25;
}

.container-image-url {
    position: relative;
    width: 15;
    height: 15;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

.middle-url {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 32%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }

  .container:hover .middle-url {
    opacity: 1;
  }

  .btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 10px;
    text-align: right;
    filter: alpha(opacity=0);
    outline: none;
    background: transparent;
    cursor: inherit;
    display: block;
}