<div class="modal-header">
  <h4 class="modal-title">{{Encabezado}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div *ngFor="let j of Contenido" [ngClass]="{'dropdown-item small alert alert-light': j.read,'dropdown-item small alert alert-success' : !j.read}">
      <div class="row h-10">
          <input type="checkbox"><p class="pl-3">{{j.tittle}}</p>
          <button id="collapseExample{{j.id}}" type="button" class="btn btn-outline-primary mr-2 small" (click)="isCollapsed = !isCollapsed"
                [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                Ver
          </button>
      </div>
      <div id="collapseExample{{j.id}}" [ngbCollapse]="isCollapsed">
              <p>{{j.textData}}</p> 
              <button class="btn btn-danger" (click)="delete(j.id)"><fa-icon icon="trash"></fa-icon></button>
      </div>

  </div>

  <ngb-pagination (pageChange)="loadPage($event)" [collectionSize]="col_size" [pageSize]="itemsPerPage" [(page)]="page"
aria-label="Default pagination"></ngb-pagination>

</div>

<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('Close click')">Close</button>
</div>