<button mat-button routerLink="create"><fa-icon icon="user-plus"></fa-icon></button>


<table [dataSource]="user_list" mat-table class="mat-elevation-z10">
  

	<ng-container matColumnDef="dni">
	  <th mat-header-cell *matHeaderCellDef> Dni </th>
	  <td mat-cell *matCellDef="let user"> {{user.dni}} </td>
	</ng-container>
  
	<ng-container matColumnDef="userName">
	  <th mat-header-cell *matHeaderCellDef> Usuario </th>
	  <td mat-cell *matCellDef="let user"> {{user.userName}} </td>
	</ng-container>

  
	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns;">

	</tr>
	<!--
		<td style="width : 0px;" class="col-lg" >{{user.dni}}</td>
		<td style="width : 0px;" class="col-lg">{{user.userName}}</td>
		<td style="width : 0px; margin: 5px;" class="col-lg">
		<div>
			<button type="button" routerLink="/update/{{user.id}}" class="btn btn-default navarStyle"><fa-icon icon="edit"></fa-icon></button>
			<button type="button" routerLink="/users" (click)="openEliminar(user.id,user.dni,user.userName)" class="navarStyle"><fa-icon icon="trash"></fa-icon></button>
		</div>
		</td>
	-->

  </table>

<ngb-pagination (pageChange)="loadPage($event)" [collectionSize]="col_size" [pageSize]="itemsPerPage" [(page)]="page" aria-label="Default pagination"></ngb-pagination>





